DATABASE_URL=postgresql://postgres.[REF]:[PASSWORD]@[POOLER-HOST]:5432/[namedatabase]
JWT_SECRET=tu-clave-secreta-aqui-min-16-chars
JWT_EXPIRATION=1h
JWT_REFRESH_SECRET=otra-clave-secreta-aqui-min-16
JWT_REFRESH_EXPIRATION=24h
PORT=3000
ALLOWED_ORIGINS=*
